@charset "UTF-8";

	.SectionHeader-module__title--GHbNr {
	    color: #343a40;
	    font-size: 24px;
	    font-weight: 700;
	    margin-bottom: 0;
	}
	
	*, ::before, ::after {
	    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	    box-sizing: border-box;
	    letter-spacing: 0px;
	    -webkit-font-smoothing: antialiased;
	    overflow-anchor: none;
	}
	
	img {
	    border-width: 0;
	    vertical-align: middle;
	}
	
	.css-5ygj7j--LocationMapWrapper-style--container {
		margin-top: 50px;
	    margin-bottom: 64px;
	}
	
	.css-17r0a0b--LocationMapWrapper-style--mapWrapper {
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    height: 300px;
    	border-radius: 8px;
    	background-color: #cbe7fd;
	}
	
	.map-icon {
		display: inline-block;
	    width: 16px;
	    height: 20px;
	    margin-right: 4px;
	}
	
	/* 애월 버튼 */
	.map-btn-1 {
	    position: absolute;
	    top: 39.5%;
	    left: 35.5%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-1:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 제주시 버튼 */
	.map-btn-2 {
	    position: absolute;
	    top: 31.5%;
	    left: 43.5%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-2:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 함덕구좌 버튼 */
	.map-btn-3 {
	    position: absolute;
	    top: 26%;
	    left: 54.6%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-3:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 성산우도 버튼 */
	.map-btn-4 {
	    position: absolute;
	    top: 42.5%;
	    left: 59.4%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-4:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 표선 버튼 */
	.map-btn-5 {
	    position: absolute;
	    top: 60.8%;
	    left: 59.6%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-5:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 서귀포 버튼 */
	.map-btn-6 {
	    position: absolute;
	    top: 58%;
	    left: 48%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-6:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 중문 버튼 */
	.map-btn-7 {
	    position: absolute;
	    top: 72.2%;
	    left: 43.6%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-7:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	/* 한림협재 버튼 */
	.map-btn-8 {
	    position: absolute;
	    top: 60%;
	    left: 31.8%;
	    display: flex;
	    -webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	    padding: 6.5px 11px 6.5px 9px;
	    border-radius: 4px;
	    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
	    border: 1px solid #e9ecef;
	    outline: none;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: -0.32px;
	    white-space: nowrap;
	    color: #343a40;
	    background-color: #ffffff;
	}
	
	.map-btn-8:hover {
		box-shadow: 1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);
		border: 2px solid #4D8FD0;
	}
	
	button, a {
	    outline: none;
	    color: inherit;
	    text-decoration: none;
	    cursor: pointer;
	}
	
	.Grid-module__container--YH1rv {
	    position: relative;
	    width: 100%;
	}
	
	.Grid-module__row--GTpEN {
	    margin: 0 auto;
	    position: relative;
	    width: 1060px;
	}
	
	.SectionHeader-module__container--bh_K2 {
	    align-items: flex-end;
	    display: flex;
	    margin-bottom: 16px;
	}
	
	.LocationOffers-module__container--YvQqd {
	    margin-bottom: 40px;
	}
	
	.SectionHeader-module__link--e1BPS {
	    line-height: 1;
	    margin-left: auto;
	}
		
	.css-81frcg--LocationMap-style--map {
		margin-top: 20px;
	}
	
	.Carousel-module__container--bsSzp {
	    height: 100%;
	    position: relative;
	    width: 100%;
	}
	
	.swiper-container {
	    width: 100%;
	}
	
	.swiper-container {
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	}
	
	.CardContainer-module__fixedWidth--XQbwP.CardContainer-module__swiper--xl_Sd {
    	width: 250px!important;
    }
    
    .CardContainer-module__container--B5cqm.CardContainer-module__offer--Npil0 {
	    height: 313px; /* 기존 313 */
	}
	
	.CardContainer-module__container--B5cqm.swiper-slide {
	    margin-right: 15px;
	}
	
	/* 액티비티 추천 상품 a태그 */
	.CardContainer-module__container--B5cqm {
		border: 0.3px solid #EBEAEA;
	}
	
	.CardShare-module__container--lu1iP {
	    border-radius: 4px;
	    cursor: pointer;
	    display: inline-block;
	    position: relative;
	}
	
	/*
	.CardContainer-module__container--B5cqm.CardShare-module__container--lu1iP:hover {
		box-shadow: 5px 5px 5px 3px #EDECEC;
	}
	*/
	
	.swiper-slide {
	    -webkit-flex-shrink: 0;
	    -ms-flex: 0 0 auto;
	    flex-shrink: 0;
	    width: 100%;
	    height: 100%;
	    position: relative;
	}
    
    /* 액티비티 추천 상품 첫 번째 카드 */
    .OfferVerticalCard-module__container--eeOYE, .OfferVerticalCard-module__thumbnail--hPkZk {
	    position: relative;
	}
	
	.CardThumbnail-module__container--t05no.CardThumbnail-module__vertical--fg4fQ {
	    height: 166px;
	    width: 100%;
	}
	
	.CardThumbnail-module__container--t05no {
	    border-radius: 4px;
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
	}
	
	.LazyImageLoader-module__container--xHxKX {
	    height: 100%;
	    position: relative;
	    width: 100%;
	}
	
	.CardThumbnail-module__vertical--fg4fQ .CardThumbnail-module__image--Tc1b4 {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}
	
	.LazyImageLoader-module__image--FB3yN.LazyImageLoader-module__visible--n47Jt, .LazyImageLoader-module__placeholder--iH82U.LazyImageLoader-module__visible--n47Jt {
	    opacity: 1;
	}
	
	.CardThumbnail-module__image--Tc1b4 {
	    height: 100%;
	    width: 100%;
	}
	
	.LazyImageLoader-module__image--FB3yN, .LazyImageLoader-module__placeholder--iH82U {
	    -o-object-fit: cover;
	    object-fit: cover;
	    opacity: 0;
	    transition: opacity .5s;
	}
	
	.LazyImageLoader-module__placeholder--iH82U {
	    background-color: #f1f3f5;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyNCI+PGcgZmlsbD0iI0RFRTJFNiIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSI5IiBjeT0iOCIgcj0iMyIvPjxwYXRoIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTI5IDNIM3YxOGgyNlYzem0zLTF2MjBhMiAyIDAgMCAxLTIgMkgyYTIgMiAwIDAgMS0yLTJWMmEyIDIgMCAwIDEgMi0yaDI4YTIgMiAwIDAgMSAyIDJ6Ii8+PHBhdGggZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMjAuMjc1IDEwLjMzMWExIDEgMCAwIDEgMS41NTguMDlsNC45ODIgN0ExIDEgMCAwIDEgMjYgMTlIOGMtLjg5OCAwLTEuMzQtMS4wOTEtLjY5Ny0xLjcxN2w1LjE0My01YTEgMSAwIDAgMSAxLjM2MS0uMDNsMi42MzIgMi4zNCAzLjgzNi00LjI2MnoiLz48L2c+PC9zdmc+);
	    background-position: 50%;
	    background-repeat: no-repeat;
	    background-size: 32px 24px;
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	
	/* 추천 상품 카드 콘텐츠 내용(이름, 가격) */
	.OfferVerticalCard-module__body--QqE0h {
	    height: 145px; /* 기존 145 */
	}
	
	.CardShare-module__body--SgF6m {
	    background-color: #fff;
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	    padding: 10px 16px 16px;
	    position: relative;
	}
	
	.CardCategory-module__container--QvB9e {
	    color: #848c94;
	    font-size: 12px;
	    max-width: 100%;
	    overflow: hidden;
	    margin-top: 10px;
	}
	
	.CardCategory-module__label--cLofl {
	    line-height: normal;
	}
	
	/* 액티비티 제목(이름), 추천 일정 장소 이름 */
	.CardTitle-module__container--l9OrK.CardTitle-module__vertical--COffX {
	    font-size: 15px;
	    line-height: 1.47;
	    margin-top: 5px;
	}
	
	.CardTitle-module__container--l9OrK {
	    color: #343a40;
	    font-weight: 600;
	    margin: 0;
	    width: 100%;
	}
	
	/* 액티비티 평점, 가격 */
	.OfferVerticalCard-module__info--mUIkY {
	    bottom: 16px;
	    left: 16px;
	    line-height: 1;
	    position: absolute;
	}
	
	/* 액티비티 평점 */
	.OfferVerticalCard-module__review--bDld6 {
	    margin-bottom: 8px;
	}
	
	.CardRating-module__container--y1t4m {
	    display: inline-block;
	    position: relative;
	}
	
	/* 액티비티 별 */
	.starRating {
	    border: none;
	    display: inline-block;
	    line-height: 1;
	    vertical-align: middle;
	}
	
	.starRating--m svg {
	    height: 12px;
	    width: 12px;
	}
	
	svg:not(:root) {
	    overflow: hidden;
	}
	
	/* 액티비티 평균 점수 */
	.CardRating-module__review--EyAmj {
	    color: #848c94;
	    font-size: 12px;
	    margin-left: 4px;
	    vertical-align: middle;
	}
	
	/* 액티비티 가격 */
	.CardPriceForVertical-module__container--jmRSV {
	    position: relative;
	}
	
	.CardPriceForVertical-module__main--VVTBF {
	    color: #666d75;
	    font-size: 14px;
	    font-weight: 500;
	}
	
	.CardPriceForVertical-module__main--VVTBF>.CardPriceForVertical-module__unit--TTngM {
	    font-size: 13px;
	}
	
	.CardPriceForVertical-module__standard--jqgFm {
	    color: #848c94;
	    font-size: 12px;
	    margin-left: 2px;
	}
	
	.CityLandmark-module__container--B4Zdi {
	    padding-bottom: 8px;
	}
	
	/* 관광 명소 a태그 */
	CityLandmarkItem-module__card--z9THH {
		border: 0.3px solid #EBEAEA;
	}
	
	.CityLandmarkItem-module__card--z9THH.swiper-slide {
	    border-radius: 4px;
	    display: inline-block;
	    height: 184px; /* 기존 185 */
	    position: relative;
	    width: 156px!important;
	    border: 0.3px solid #EBEAEA;
	}
	
	/* 관광 명소 내용 */
	.CityLandmarkItem-module__body--xsaV6 {
	    height: calc(100% - 106px);
	    padding: 12px;
	    position: relative;
	}
	
	.CityLandmarkItem-module__body--xsaV6>h3 {
	    color: #343a40;
	    font-size: 15px;
	    font-weight: 600;
	    word-break: break-all;
	    margin-top: 5px;
	}
	
	.CityLandmarkItem-module__body--xsaV6>span {
	    bottom: 8px;
	    color: #848c94;
	    font-size: 12px;
	    left: 12px;
	    position: absolute;
	}
	
	.CityLandmarkItem-module__thumbnail--jVCJK {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	    height: 106px;
	    -o-object-fit: cover;
	    object-fit: cover;
	    width: 100%;
	}
	
	.swiper-container .swiper-notification {
	    position: absolute;
	    left: 0;
	    top: 0;
	    pointer-events: none;
	    opacity: 0;
	    z-index: -1000;
	}
	
	a {
		text-decoration-line: none;
	}
	
	a:hover {
		text-decoration-line: none;
	}
	
	.modal-text{
		margin-top: 50px;
	}
	
	.modal .modal-body { /* Vertical scrollbar if necessary */
	    max-height: 680px;
	    overflow-y: auto;
	}
	
	body .modal-dialog { /* Width */
	    max-width: 100%;
	}

	/* activity 장바구니 버튼 div */
	.btn_cart {
		margin-left: 190px;
		margin-top: 20px;
	}
	
	/* 장바구니 버튼 크기 */
	#cart_button {
		width: 25px;
		height: 25px;
	}
	
	.spot_cart {
		margin-top: 150ox;
		margin-left: 105px;
	}
	
	.cart_button:hover {
	    border: 1px solid rgb(87, 121, 244);
	    background-color: #fff;
	    color: rgb(87, 121, 244);
	}
	
	.CardCategory-module__label--cLofl.plan_writer {
		font-size: 13px;
	}
	
	.plan_cont {
		margin-top: 10px;
	}
	
	.plan-modal-title {
		color: #5779F4;
		font-weight: bold;
	}
	
	.modal-footer-cart {
		width: 200px;
		flex: 1;
		text-align: center;
	}
	
	.modal-footer-plan {
		width: 200px;
		flex: 1;
		text-align: center;
	}
	
	.modal-footer-title {
		font-size: 16px;
		font-weight: bold;
	}
	
	.modal-footer-button {
		min-height: 45px; 
		width: 150px; 
		border-radius: 10px;
		border: 1px solid rgb(87, 121, 244);
		background-color: rgb(255, 255, 255); 
		font-family: Ubuntu, sans-serif; 
		color: rgb(87, 121, 244); 
		font-size: 16px; 
		font-weight: 1000; 
		letter-spacing: 2px;
	}
	
	.modal-footer-button:hover {
		background-color: rgb(87, 121, 244);
		color: #fff;
	}