@charset "UTF-8";

  /* header css */
  
  .hc {
  
    width:1060px;
    margin-top:100px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  
  }
  
  #logo {
	
	margin-right:10px;
	margin-bottom:10px;
	
  } 
  
  #searchInput {
	
	width:230px;
	height: 30px;
	margin-top: 25px;
	margin-right: 400px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif; 
	border: solid 1px white;
	border-radius: 10px;
	opacity: 0.7;
	z-index: 20;

	}
	
	#mem {	
	
		
		margin-right: 20px;
		margin-top: -30px;
		z-index: 10;
	
	}
	
	#mem a {
	
		text-decoration: none;
		color: white;
		z-index: 10;
	
	}
	
	#mem a:hover {
	
		font-weight: bold;
		z-index: 10;
	
	}
	
	#mem ul {
	
		list-style: none;
		width: 200px;
		z-index: 10;
	
	}
	
	#mem ul li {
	
		margin-bottom: 10px;
		z-index: 10;
	
	}
	
	#mem ul ul {	
	
		display: none; 
		margin-left: 35px;
	   	width: 130px; 
	   	height: 150px;
	   	background-color: #fff;    	
	   	border: solid 1px lightgray;
	   	border-radius: 15px;
	   	padding: 10px 0 0 0px;
	   	z-index: 99;
	   	z-index: 10;
	
	}
	
	#mem ul li:hover > ul {
	
		display:block;
		z-index: 10;
	
	}
	
	#mem ul ul li:hover > a {
	
		font-weight: bold;
		z-index: 10;
	
	}
	
	#noMem {
	 
	    font-weight: bold;
	    display: contents;    
		width: 100px;
		margin-left: 290px;
		text-decoration: none;
		color: white;
		text-align: center;
		line-height: 40px; ;
		z-index: 10;
	
	}
	
	#noMem a {
		
		flex: 1;
		margin-top: 15px;
		margin-right:18px;	
		text-decoration: none;
		color: white;
		z-index: 10;
	}
	
	
	#navi {
		
		clear: both; 
		width: 1030px;
		height: 30px;		
		border-radius: 5px;
		width: 1050px;
		height: 50px;		
	   
		z-index: 10;
		
	}
	
	#navi ul {
	
		list-style:none;
		z-index: 10;
		margin-bottom:7px;
	
	}
	
	#navi ul li {
		float:left;
		z-index: 10;
		
	}
		
	#navi ul li a {
		text-decoration: none;
		display:block;
		width: 140px;
		color: #000;
		font-size: 17px;
		padding-top: 3px;
		margin-right: 20px;
		z-index: 10;
	}
	
	#navi ul ul{
	   	display: none; 
	   	width: 100px;
	   	height: 70px;
	   	background-color: rgba(255, 255, 255, 0.8); 	
	   	border-radius: 15px;
	   	padding: 13px 0 0 0;
	   	z-index: 99;
	   	z-index: 10;
	}
	
	#navi ul li:hover > ul {
		display:block;
		z-index: 10;
	}
	
	#navi ul li:hover > a {
		font-weight: bold;
		z-index: 10;
	}
	
	#navi img {
		width: 20px;
		z-index: 10;
	}



  /* 본문 CSS */


  .header {
   
    box-sizing: content-box;
    position: relative;
    padding-top: 160px;
    height: 225px;
    background-image: url("https://dffoxz5he03rp.cloudfront.net/build/production/c4f8f3342dc554238a353305e4e60450cb18f9ca/9b37b84db8397d0faf6c.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
 .headerBackground {
   
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
  }  
     
  .headline {
    
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 36px;
    letter-spacing: 5px;
    color: white;
    text-align:left;
    margin-top:40px;
    margin-bottom:80px;
    
  }  
 
	section {
	
	 width: 1060px;
	 margin: -200px auto 0px;
	 z-index: 10;
  } 
   
   .container2 {
   
    z-index: 3;
    width:1050px;
    height:70px;
    height:50px;
    position: relative;
    padding: 4px;
    margin-bottom: 40px;
    padding: 3px;
    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px;
    background-color: rgba(255, 255, 255, 0.6);  
   
   } 
      
   .name {
   
     margin-left:30px;
     font-family: 'Pretendard-Regular';
     font-size:20px;
     align:left;
   
   }
     
   .grade {
     
     margin-left:30px;
     font-family: 'Pretendard-Regular'; 
     font-size:15px;
     color:lightgray;
     align:left;
   
   }  
   
   .info {
   
     margin-left:30px;
     font-family: 'Pretendard-Regular'; 
     font-size:20px;
     align:left;
      
   }
   
   .container5 {
   
   margin-top:-280px;
   
   } 
   .container6 {
   
   margin-left:300px;
   width:740px;
   
   }
  
  .myModal {
  
    width: 80%;
    height: 80%;
 
  }
  
  h5 {
        
    font-size:18px;
  
  }
  
  .btn.btn-light {
  
  width:75px;
  font-size:13px;
  
  }
  
  .btn.btn-cart {	
  	
	font-size:13px;
	background-color:white;
    text-align: center; 	  	
  	width: 75px;
  	height:30px;
    color: white;
    background-color: rgb(87, 121, 244);  	
  	
  } 
  
  .btn.btn-outline-light {
	
	font-size:15px;
	width:100px;
	height:50px;
	text-align:center;
	font-weight: bold;
	
  }
  
  /* 페이징 버튼 */ 
  
  .btn-page {
	
	list-style: none;
    padding: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 150px;
  
  }
  
  .page_button1 {
   
    width: 40px;
    height: 40px;
    border: 0px;
    margin-right:10px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 121, 244);
    color: white;
  
  } 
  
  .page_button2 {
	
	width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(87, 121, 244);
  
  }
